@font-face {
  font-family: 'Tahoma';
  src: url('../fonts/tahoma.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rosa Morena';
  src: url('../fonts/Rosa_Marena.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}