@advantage-x: -2px;
@advantage-y: -2px;
@advantage-width: 1600px;
@advantage-height: 44px;
@advantage: @advantage-x, @advantage-y, @advantage-width, @advantage-height;
@advantage-point-x: -2px;
@advantage-point-y: -50px;
@advantage-point-width: 58px;
@advantage-point-height: 57px;
@advantage-point: @advantage-point-x, @advantage-point-y, @advantage-point-width, @advantage-point-height;
@design-x: -64px;
@design-y: -50px;
@design-width: 73px;
@design-height: 43px;
@design: @design-x, @design-y, @design-width, @design-height;
@free-x: -2px;
@free-y: -111px;
@free-width: 56px;
@free-height: 49px;
@free: @free-x, @free-y, @free-width, @free-height;
@power-x: -2px;
@power-y: -164px;
@power-width: 43px;
@power-height: 50px;
@power: @power-x, @power-y, @power-width, @power-height;
@burgeon-x: -2px;
@burgeon-y: -218px;
@burgeon-width: 39px;
@burgeon-height: 53px;
@burgeon: @burgeon-x, @burgeon-y, @burgeon-width, @burgeon-height;
@tree-x: -45px;
@tree-y: -218px;
@tree-width: 38px;
@tree-height: 53px;
@tree: @tree-x, @tree-y, @tree-width, @tree-height;
@business-x: -62px;
@business-y: -111px;
@business-width: 45px;
@business-height: 44px;
@business: @business-x, @business-y, @business-width, @business-height;
@cafe-x: -111px;
@cafe-y: -111px;
@cafe-width: 45px;
@cafe-height: 44px;
@cafe: @cafe-x, @cafe-y, @cafe-width, @cafe-height;
@shop-x: -160px;
@shop-y: -111px;
@shop-width: 45px;
@shop-height: 44px;
@shop: @shop-x, @shop-y, @shop-width, @shop-height;
@car-x: -141px;
@car-y: -50px;
@car-width: 60px;
@car-height: 30px;
@car: @car-x, @car-y, @car-width, @car-height;
@small-logo-x: -209px;
@small-logo-y: -111px;
@small-logo-width: 41px;
@small-logo-height: 38px;
@small-logo: @small-logo-x, @small-logo-y, @small-logo-width, @small-logo-height;
@fb-x: -254px;
@fb-y: -111px;
@fb-width: 37px;
@fb-height: 35px;
@fb: @fb-x, @fb-y, @fb-width, @fb-height;
@fb-hover-x: -295px;
@fb-hover-y: -111px;
@fb-hover-width: 37px;
@fb-hover-height: 35px;
@fb-hover: @fb-hover-x, @fb-hover-y, @fb-hover-width, @fb-hover-height;
@vk-x: -336px;
@vk-y: -111px;
@vk-width: 36px;
@vk-height: 35px;
@vk: @vk-x, @vk-y, @vk-width, @vk-height;
@vk-hover-x: -376px;
@vk-hover-y: -111px;
@vk-hover-width: 36px;
@vk-hover-height: 35px;
@vk-hover: @vk-hover-x, @vk-hover-y, @vk-hover-width, @vk-hover-height;
@tw-hover-x: -416px;
@tw-hover-y: -111px;
@tw-hover-width: 35px;
@tw-hover-height: 35px;
@tw-hover: @tw-hover-x, @tw-hover-y, @tw-hover-width, @tw-hover-height;
@inst-hover-x: -455px;
@inst-hover-y: -111px;
@inst-hover-width: 35px;
@inst-hover-height: 35px;
@inst-hover: @inst-hover-x, @inst-hover-y, @inst-hover-width, @inst-hover-height;
@inst-x: -494px;
@inst-y: -111px;
@inst-width: 35px;
@inst-height: 35px;
@inst: @inst-x, @inst-y, @inst-width, @inst-height;
@tw-x: -533px;
@tw-y: -111px;
@tw-width: 35px;
@tw-height: 34px;
@tw: @tw-x, @tw-y, @tw-width, @tw-height;
@hand-x: -205px;
@hand-y: -50px;
@hand-width: 35px;
@hand-height: 27px;
@hand: @hand-x, @hand-y, @hand-width, @hand-height;
@gifs-x: -572px;
@gifs-y: -111px;
@gifs-width: 26px;
@gifs-height: 31px;
@gifs: @gifs-x, @gifs-y, @gifs-width, @gifs-height;
@gift-x: -602px;
@gift-y: -111px;
@gift-width: 26px;
@gift-height: 31px;
@gift: @gift-x, @gift-y, @gift-width, @gift-height;
@small-leaf-x: -244px;
@small-leaf-y: -50px;
@small-leaf-width: 28px;
@small-leaf-height: 26px;
@small-leaf: @small-leaf-x, @small-leaf-y, @small-leaf-width, @small-leaf-height;
@leafes-x: -276px;
@leafes-y: -50px;
@leafes-width: 35px;
@leafes-height: 20px;
@leafes: @leafes-x, @leafes-y, @leafes-width, @leafes-height;
@manager-x: -632px;
@manager-y: -111px;
@manager-width: 22px;
@manager-height: 28px;
@manager: @manager-x, @manager-y, @manager-width, @manager-height;
@left-x: -658px;
@left-y: -111px;
@left-width: 17px;
@left-height: 27px;
@left: @left-x, @left-y, @left-width, @left-height;
@right-x: -679px;
@right-y: -111px;
@right-width: 17px;
@right-height: 27px;
@right: @right-x, @right-y, @right-width, @right-height;
@geo-x: -700px;
@geo-y: -111px;
@geo-width: 17px;
@geo-height: 26px;
@geo: @geo-x, @geo-y, @geo-width, @geo-height;
@right-hover-x: -721px;
@right-hover-y: -111px;
@right-hover-width: 16px;
@right-hover-height: 26px;
@right-hover: @right-hover-x, @right-hover-y, @right-hover-width, @right-hover-height;
@left-hover-x: -741px;
@left-hover-y: -111px;
@left-hover-width: 16px;
@left-hover-height: 26px;
@left-hover: @left-hover-x, @left-hover-y, @left-hover-width, @left-hover-height;
@phone-x: -315px;
@phone-y: -50px;
@phone-width: 20px;
@phone-height: 19px;
@phone: @phone-x, @phone-y, @phone-width, @phone-height;
@call-back-x: -339px;
@call-back-y: -50px;
@call-back-width: 18px;
@call-back-height: 18px;
@call-back: @call-back-x, @call-back-y, @call-back-width, @call-back-height;
@email-x: -361px;
@email-y: -50px;
@email-width: 21px;
@email-height: 14px;
@email: @email-x, @email-y, @email-width, @email-height;
@leaf-x: -761px;
@leaf-y: -111px;
@leaf-width: 14px;
@leaf-height: 18px;
@leaf: @leaf-x, @leaf-y, @leaf-width, @leaf-height;
@tel-x: -779px;
@tel-y: -111px;
@tel-width: 16px;
@tel-height: 15px;
@tel: @tel-x, @tel-y, @tel-width, @tel-height;
@empty-star-x: -386px;
@empty-star-y: -50px;
@empty-star-width: 16px;
@empty-star-height: 14px;
@empty-star: @empty-star-x, @empty-star-y, @empty-star-width, @empty-star-height;
@red-star-x: -406px;
@red-star-y: -50px;
@red-star-width: 16px;
@red-star-height: 14px;
@red-star: @red-star-x, @red-star-y, @red-star-width, @red-star-height;
@mail-x: -426px;
@mail-y: -50px;
@mail-width: 17px;
@mail-height: 11px;
@mail: @mail-x, @mail-y, @mail-width, @mail-height;

.sprite-image() {
    background-image: url('../images/global/sprite.png');
}
.sprite-position(@sprite) {
    background-position: extract(@sprite, 1) extract(@sprite, 2);
}
.sprite-width(@sprite) {
    width: extract(@sprite, 3);
}
.sprite-height(@sprite) {
    height: extract(@sprite, 4);
}
.sprite(@sprite) {
    .sprite-image();
    .sprite-position(@sprite);
    .sprite-width(@sprite);
    .sprite-height(@sprite);
}
