@import "fonts";
@import "lesshat";
@import "bootstrap/bootstrap";
@import "sprite";
@import "swiper/swiper";

/*Fonts Vars*/
@font-family-tahoma: 'Tahoma', Calibri, 'San Francisco', Helvetica, "Helvetica Neue", Arial, sans-serif;
@headings-font-family: 'Rosa Morena', Calibri, 'San Francisco', Helvetica, "Helvetica Neue", Arial, sans-serif;
@font-family-base: @font-family-tahoma;
@headings-font-weight: 400;

/*Main Colors*/
@brown: #d1c0a4;
@dark-brown: #3d3229;
@darken-brown: #443830;
@light-brown: #e8ddcd;
@red: #ef1d3c;
@green: #9bb93a;
@black: #382d25;
@white: #ffffff;
@green-border: #ccdb71;
@red-border: #efb9c3;
@brown-border: #d1c0a4;
@nav-color-hover: #d1c0a4;
@brown-background: #ddc6a6;
@color-categories: #efe2d0;

/* border */
@border-radius-base: 0;

/* navbar */

/*Headings Styles*/
@font-size-h1: 45px;
@font-size-h2: 33px;
@font-size-h4: 30px;
@font-size-h5: 14px;
@headings-color: @black;

/*Link Vars*/
@text-color: @black;
@link-color: @black;
@link-hover-color: @white;
@link-hover-decoration: none;

/*Navbar Vars*/
@navbar-nav-height: 58px;
@nav-link-padding: 14px 8px 12px;
@navbar-height: 58px;
@nav-link-hover-bg: @brown;
@nav-tabs-border-color: @light-brown;
@nav-tabs-link-hover-border-color: @nav-tabs-border-color;
@nav-tabs-active-link-hover-bg: @dark-brown;
@nav-tabs-active-link-hover-color: @nav-tabs-active-link-hover-bg;
@nav-tabs-active-link-hover-border-color: @nav-tabs-border-color;

/*Grid Customization*/
@screen-lg: @screen-md; // для того, чтобы cjntainer имел ширину как у screen-md
@container-large-desktop: @container-desktop; // если в коде используется переменная screen-lg, то она переопределяется на screen-md
@column-width: percentage((1/ @grid-columns));

/*Swiper Vars*/
@swiper-container-padding-bottom: 0px;
@swiper-nav-padding: 22px;

/*sprite generate */
.generate-original(@icon) {
  .sprite(@@icon);
}

/*Sprites*/
.sprite {
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  &.small {
    .square(50%);
  }
  &.icon {
    background-color: @white;
    &.round {
      z-index: 3;
      .border-radius(50%);
      border: 4px solid;
      .square(50px);
      &.darken-brown {
        border-color: @darken-brown;
      }
      &.light-brown {
        border: 2px solid #96795c;
      }

    }
    &.rectangle {
      width: 28px;
      height: 31px;
      text-align: center;
      vertical-align: middle;
      &.brown {
        background-color: @brown;
        border-bottom: 3px solid @light-brown;
        &:hover,
        &:active {
          background-color: @green;
          border-color: @green-border;
        }
      }
    }
    &.square {
      .square(39px);
      .border-radius(8px);
      &.green {
        background-color: @green;
        /*        .sprite()*/
      }
    }
    &.social {
      background-color: transparent;
      &.fb {
        .sprite(@fb);
      }
      &.vk {
        .sprite(@vk);
      }
      &.inst {
        .sprite(@inst);

      }
      &.tw {
        .sprite(@tw);
      }
      &:hover {
        &.fb {
          .sprite(@fb-hover);
        }
        &.vk {
          .sprite(@vk-hover);
        }
        &.inst {
          .sprite(@inst-hover);

        }
        &.tw {
          .sprite(@tw-hover);
        }
      }
    }
    &::after {
      .middle();
      content: '';
    }
  }
  &.mail {
    .sprite(@mail);
  }
  &.tel {
    .sprite(@tel);
  }
  &.call-back {
    .sprite(@call-back);
  }
  &.shop {
    .sprite(@shop);
  }
  &.cafe {
    .sprite(@cafe);
  }
  &.business {
    .sprite(@business);
  }
  &.hand::after {
    .sprite(@hand);
  }
  &.leafes::after {
    .sprite(@leafes);
  }
  &.gift::after {
    .sprite(@gift);
  }
  &.person::after {
    .sprite(@manager);
  }
  &.small-logo:after {
    .sprite(@small-logo);
  }
  &.leaf {
    .sprite(@leaf);
  }
  &.advantage-point {
    .sprite(@advantage-point);
  }
  &.tree-icon {
    .sprite(@tree);
  }
  &.burgeon {
    .sprite(@burgeon);
  }
  &.free {
    .sprite(@free);
  }
  &.design-icon {
    .sprite(@design);
  }
  &.car {
    .sprite(@car);
  }
  &.power {
    .sprite(@power);
  }
  &.small-leaf::after {
    .sprite(@small-leaf);
  }
  &.red-star {
    .sprite(@red-star);
  }
  &.empty-star {
    .sprite(@empty-star);
  }
  &.phone::after {
    .sprite(@phone);
  }
  &.geo::after {
    .sprite(@geo);
  }
  &.email::after {
    .sprite(@email);
  }

}

/* swiper customization */

.set-nav-margin(@height) when (@swiper-nav-padding <= @height) {
  margin-top: (@height + @swiper-container-padding-bottom/-2);
}

.set-nav-margin(@height) when (@swiper-nav-padding > @height) {
  margin-top: @swiper-container-padding-bottom/-2 - @swiper-nav-padding;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  margin: 0 !important;
  .sprite-width(@right);
  .sprite-height(@right);
  &::after {
    .sprite(@right);
  }
  &:hover::after {
    .sprite(@right-hover);
  }
  .set-nav-margin(@right-height);
  right: -@column-width;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  margin: 0 !important;
  .sprite-width(@left);
  .sprite-height(@left);
  &::after {
    .sprite(@left);
  }
  &:hover::after {
    .sprite(@left-hover);
  }
  .set-nav-margin(@left-height);
  left: -@column-width;
}

.swiper-button-prev, .swiper-button-next {
  background: none;
  padding: 0 @swiper-nav-padding;
  &::after {
    .middle();
    content: '';
  }
  .transition(left 0.2s ease, right 0.2 ease);

  @media (max-width: @screen-xs-max) {
    display: none;
  }
}

.swiper-container {
  padding-bottom: @swiper-container-padding-bottom;

}

.swiper-wrapper {
  > .swiper-slide {
    position: relative;

  }
}

/* global style*/
h5 {
  font-family: @font-family-base;
  color: @black;
}

span.in {
  font-size: 14px;
  color: @green;
}

span.green {
  font-size: 14px;
  color: @black;
}

.padding-rest {
  padding: 0;
}

.margin-reset {
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

.normalcase {
  text-transform: none;
}

.underline {
  display: inline-block;
  position: relative;
  &::after {
    position: absolute;
    width: 102px;
    height: 3px;
    bottom: -15px;
    content: '';
    font-size: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

  }
  &.green::after {
    background-color: @green;
  }
  &.brown::after {
    background-color: @brown;
  }
  &.black::after {
    background-color: #000000;
  }
  &.white::after {
    background-color: @white;
  }
  &.brown-stroke::after {
    background-color: @brown;
    height: 1px;
    width: 158px;
  }
}

.overline {
  display: inline-block;
  position: relative;
  &::before {
    position: absolute;
    width: 102px;
    height: 3px;
    content: '';
    top: -17px;
    font-size: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &.green::before {
    background-color: @green;
  }
}

.vertical-middle {
  position: absolute;
  top: 50%;
  .transform(translateY(-50%));
}

.horizontal-middle {
  position: absolute;
  left: 50%;
  .transform(translateX(-50%));
}

.horizontal-middle(@width) when (@width = true) {
  width: 100%;
}

.middle {
  .vertical-middle();
  .horizontal-middle();
  .transform(translateY(-50%) translateX(-50%));
}

.align-center {
  text-align: center;
}

.horizontal-align {
  position: absolute;
  left: 50%;
  .transform(translateX(-50%));
}

.btn {
  font-size: 13px;
  font-family: @font-family-base;
  color: @white;
  border: 0;
  &:hover,
  &:focus {
    color: @white;
  }
  &-green {
    padding: 6px 22px;
    background-color: @green;
    border-bottom: 3px solid @green-border;
    &:hover,
    &:focus {
      background-color: @red;
      border-color: @red-border;
    }
  }
  &-green-brown {
    line-height: 100%;
    font-size: 12px;
    background-color: @green;
    border-bottom: 3px solid @green-border;
    padding: 7px 16px 8px 19px;
    &:hover,
    &:focus {
      background-color: #443830;
      border-color: #ddc6a6;
    }
  }
  &-red {
    padding: 6px 22px 6px 21px;
    background-color: @red;
    border-bottom: 3px solid @red-border;
    &:hover,
    &:focus {
      background-color: @green;
      border-color: @green-border;
    }
  }
  &-brown-green {
    padding: 6px 21px 6px 18px;
    background-color: @dark-brown;
    border-bottom: 3px solid @brown-border;
    &:hover,
    &:focus {
      background-color: @green;
      border-color: @green-border;
    }
  }
  &-brown-red {
    padding: 7px 8px 8px 6px;
    background-color: @dark-brown;
    border-bottom: 3px solid @brown-border;
    &:hover,
    &:focus {
      background-color: @green;
      border-color: @green-border;
    }
  }
  &-brown {
    padding: 6px 28px 6px;
    background-color: @dark-brown;
    border-bottom: 2px solid #a99076;
    font-size: 14px;
    &:hover,
    &:focus {
      background-color: #ddc6a6;
      border-color: #eadfc8;
      color: #2a221d;
    }
  }
  &-white-green {
    padding: 3px 12px 4px;
    background-color: @white;
    border: 1px solid #baaa96;
    font-size: 12px;
    color: @black;
    &:hover,
    &:focus {
      background-color: @green;
      color: @white;
    }
  }
}

.common-section-padding {
  padding: 60px 0;
}

a.green {
  color: @green;
  &.underline.green {
    &::after {
      width: 100%;
      top: 20px;
      height: 1px;
    }
  }

}

section > header {
  padding-bottom: 45px;
}

.tracery-border-bottom {

  &:after {
    content: '';
    display: block;
    height: 12px;
    width: 100%;
    background-image: url(../images/global/tracery-border-bottom.png);
    background-repeat: repeat-x;
    position: absolute;
    background-position-x: -7px;
    bottom: -12px;
  }
}

.tracery-border-top::after {
  content: '';
  display: block;
  height: 12px;
  width: 100%;
  background-image: url(../images/global/tracery-border-top.png);
  background-repeat: repeat-x;
  position: absolute;
  background-position-x: -7px;
  top: -10px;
}

.advantage::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  background-image: url(../images/global/advantage.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: right bottom;
  position: absolute;
  bottom: -34px;
  left: 0
}

.manager::before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  background-image: url(../images/global/planting.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: left top;
  position: absolute;
  top: 32px;
  left: 0;
}

.services::after {
  content: '';
  display: inline-block;
  height: 66px;
  width: 100%;
  background-image: url(../images/global/services.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  bottom: -4px;
  left: 0;
  background-size: 100%;
}

.exlusive-design::before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  background-image: url(../images/global/design.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: right top;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 2;
}

/* navbar */
.navbar {
  border: none;
  background-color: @white;
  margin-bottom: 0;
  .navbar-header {
    width: 100%;
    font-size: 13px;
    padding-bottom: 18px;
    margin-bottom: 17px;
    border-bottom: 4px solid @brown;
    @media (max-width: @screen-sm) {
      padding-left: 15px;
    }
    .wrapper {
      float: right;
      display: inline-block;
      margin-top: 73px;
      div {
        float: left;
        border-top: 2px solid @brown;
        &:hover,
        &:active {
          border-color: @green;
          .icon {
            background-color: @green;
            border-color: @green-border;
          }
          .btn {
            background-color: @green;
            border-color: @green-border;
          }
        }
      }
      .call-back {
        border: none;
      }
      p {
        display: inline-block;
        padding: 5px 20px 5px 13px;
      }
      a {
        padding: 6px 21px 4px 15px;
        display: inline-block;
        &:hover,
        &:focus {
          color: inherit;
        }
      }
      .mail {
        margin-top: 3px;
      }
      /*  .sprite.icon.rectangle {
          vertical-align: center;
          width: 100%;
          height: 100%;
          top: 0;
          bottom: 0;
          margin:auto 0;
        }*/
      .icon {
        position: relative;
        border-top: none;
        width: 28px;
        height: 36px;
        padding: 8px 5px;
        background-color: @brown;
        border-bottom: 3px solid @light-brown;
        text-align: center;
        &:hover,
        &:focus {
          background-color: @green;
          border-color: @green-border;
        }
      }
    }
  }

  .navbar-brand {
    height: auto;
    margin: 15px 0 0 !important;
    img {
      height: 95px;
      width: 250px;
    }

  }

  .navbar-collapse {
    margin-top: 17px;

    li {
      padding: 0 5px;
    }
    li:first-child {
      padding-left: 0;
    }
    .nav > li > a {
      padding: 7px 10px 6px 8px;
      font-size: 13px;
      color: @dark-brown;
      &:hover,
      &:focus {
        background-color: @nav-color-hover;
        border-bottom: 3px solid @light-brown;
      }
    }
    .nav {
      & > li.active > a {
        color: @white;
        background-color: @dark-brown;
        border-bottom: 3px solid @light-brown;
        &:hover,
        &:focus {
          background-color: @nav-color-hover;
          color: @dark-brown;
        }
      }
    }
    li::after {
      content: '';
      display: block;
      width: 1px;
      height: 21px;
      background-color: @brown;
      position: absolute;
      left: 100%;
      top: 50%;
      .transform(translateY(-50%));
    }
    .nav {
      @media (max-width: @screen-sm) {
        padding: 0 15px;
        text-align: center;
      }
    }
  }
  .navbar-right {
    margin-right: 0;
  }
  .navbar-toggle {
    background-color: @brown;
    border-bottom: 3px solid @brown-border;
    .icon-bar {
      background-color: @dark-brown;
    }

  }

}

/* categories */
.categories {
  margin-top: 11px;
  background-color: @brown-background;
  height: auto;

  .item {
    padding: 8px 0;
    background-color: @color-categories;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    &:hover,
    &:active {
      background-color: @green;
      color: @white;
      a {
        color: @white;
      }
    }
    &.active {
      background-color: #ddc6a6;
      a {
        color: #3d3229;
      }
      &:hover,
      &:focus {
        background-color: @green;
        a {
          color: #3d3229;
        }
      }
    }
  }

  ul {
    margin-bottom: 0;
  }
  li {
    display: flex;

    height: 100%;
    vertical-align: middle;
    list-style-type: none;
    a {
      padding-top: -16px;
      display: inline-block;
      vertical-align: middle;
      color: #3d3229;
    }
  }
}

/* main */
main {
  background-image: url(../images/global/main-bgr.jpg);
  background-repeat: no-repeat;
  .background-size(cover);
  height: 630px;
  border-bottom: 6px solid #a99076;
  h5 {
    margin: 20px 0 0;
  }
  .underline::after {
    bottom: -21px;
  }
  h1 {
    margin: 55px 0;
    font-size: 77px;
    @media (max-width: @screen-sm) {
      font-size: 50px;

    }
  }
}

/* guarantee */
.guarantee {
  background-image: url(../images/global/InGreen_Background_Pattern.png);
  background-repeat: repeat;
  z-index: 2;
  position: relative;
  .wrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin: -89px auto 0;
    -webkit-box-shadow: 0px 4px 21px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 21px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 21px -6px rgba(0, 0, 0, 0.75);
    @media (max-width: @screen-sm) {
      position: relative;
    }

  }
  .item {
    background-color: @white;
    padding: 0;
    p {
      display: block;
    }
    &:last-child {
      .description {
        &::after {
          display: none;
        }
      }
      footer {
        &::after {
          display: none;
        }
      }
      header {
        border: none;
      }
    }
    @media (max-width: @screen-md) {
      &:nth-child(2n) {
        .description {
          &::after {
            display: none;
          }
        }
        footer {
          &::after {
            display: none;
          }
        }
        header {
          border: none;
        }
      }
    }
    @media (max-width: @screen-sm) {
      .description {
        &::after {
          display: none;
        }
      }

      footer {
        &::after {
          display: none;
        }
      }

      header {
        border: none;
      }
    }
  }
  span {
    top: -25px;
    @media (max-width: @screen-md) {
      top: 0;
    }
  }
  header {
    background-color: @darken-brown;

    h5 {
      font-size: 13px;
      color: #edeae3;
      padding: 0 0 20px;
      margin: 0;

    }
  }
  .description {
    padding-bottom: 50px;
    &::after {
      display: inline-block;
      content: '';
      position: absolute;
      width: 2px;
      background-color: @light-brown;
      right: 0;
      top: 0;
      height: 100%;
    }
    p {
      margin: 0;
      padding: 24px 0 0;
    }
  }

  footer {
    padding-bottom: 15px;
    &::after {
      display: inline-block;
      content: '';
      position: absolute;
      width: 2px;
      background-color: @light-brown;
      right: 0;
      top: 0;
      height: 100%;
    }
  }
}

/*  */
.professional {
  padding-top: 200px;
  z-index: 1;
  background-image: url(../images/global/InGreen_Background_Pattern.png);
  background-repeat: repeat;
  position: relative;
  background-position-x: 17px;
  @media (max-width: @screen-md) {
    padding-top: 440px;
  }
  @media (max-width: @screen-sm) {
    padding-top: 40px;
  }
  h5:after {
    bottom: -25px;
  }
  .photos {
    background-color: @white;
    padding: 20px 15px 0;
  }
  .item {
    position: relative;
    &:hover,
    &:focus {
      span {
        .translateY(-10px);

      }
    }
    img {
      margin-bottom: 20px;
      width: 100%;

    }
  }
  span {
    font-size: 17px;
    color: @white;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    .transition(all .5s ease-in-out);
    @media (max-width: @screen-sm) {
      font-size: 15px;
      bottom: 30px;
    }

  }
  .black {
    span {
      color: @black;
      top: 60px;
      &::after {
        top: 35px;
      }
    }
  }
}

/* brown-line */
.brown-line {
  z-index: 2;
  position: relative;
  padding: 20px 0 12px;
  background-color: #b39175;
  p {
    color: @white;
    font-size: 17px
  }
  .sprite.icon.round {
    .square(73px);
    float: left;
    border: 5px solid #7f6a59;
    margin-right: 25px;
  }
}

/* about */

.about {
  background-color: @white;

  .sprite.leaf {
    width: 15px;
    height: 18px;
  }
  .top-background {
    z-index: 1;
    height: 30px;
    width: 100%;
    background-color: @white;
    position: relative;
    .left::after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      width: 60px;
      height: 40px;
      background-image: url(../images/global/left-tree.png);
      background-repeat: no-repeat;
    }
    .right::after {
      content: '';
      display: inline-block;
      position: absolute;
      right: 0;
      width: 60px;
      height: 40px;
      background-image: url(../images/global/rigth-tree.png);
      background-repeat: no-repeat;
    }
  }
  header {
    padding: 25px 0 25px;
    h1 {
      margin-bottom: 0;
    }
  }
  .wrapper {
    background-color: #efece6;
    padding-bottom: 45px;
    position: relative;
  }

  .text-block {
    position: relative;
    .tree-roots::before {
      content: '';
      display: inline-block;
      width: 30px;
      height: 180px;
      top: 50px;
      left: -15px;
      background-image: url(../images/global/tree-roots.png);
      background-repeat: no-repeat;
      position: absolute;

    }

    p, dl {

      font-size: 13px;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      background-color: @white;
      padding: 40px 30px 55px 20px;
      margin: 0;
      overflow: hidden;
    }
    dl {
      padding-bottom: 20px;
    }
    dt {
      margin-bottom: 15px;
      font-weight: normal;
      margin-left: 15px;
    }

    dd {
      font-size: 13px;
      margin-bottom: 10px;
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      span {
        margin-right: 10px;
      }
    }
    .tree::before {
      position: absolute;
      content: '';
      display: inline-block;
      right: 90px;
      top: -90px;
      width: 85px;
      height: 90px;
      background: url(../images/global/tree.png);
      @media (max-width: @screen-sm) {
        right: 0;
      }
    }
  }
}

/* advantage */
.advantage {
  padding: 30px 0;
  position: relative;
  .points {
    position: relative;
  }
  .item {
    border: 1px solid #baab97;
    display: inline-block;
    margin-bottom: 25px;
    @media (max-width: @screen-xs) {
      .icon {
        width: 100%;
        border-right: none;
        border-bottom: 2px dotted #baab97;
        float: none;
      }
    }

  }
  .icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    float: left;
    text-align: center;
    width: 90px;
    height: 70px;
    border-right: 2px dotted #baab97;
    span {
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }
  .description {
    height: 70px;
    display: table;
    p {
      padding: 0 15px;
      margin: 0;
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      font-size: 13px;
    }
  }
}

/* planting */
.planting {

  z-index: 2;
  padding-top: 20px;
  top: 34px;
  position: relative;
  background-color: #edeae3;
  h1 {
    margin-bottom: 20px;
  }

  h5 {
    font-size: 13px;
    line-height: 1.4;
  }
  .item {
    padding: 15px 0 0;
    border: 1px solid #b9aa95;
    background-color: @white;
    margin-bottom: 20px;
    .title {
      margin: 30px 10px 10px;
      p {
        text-align: left;
        margin-bottom: 5px;
        font-size: 13px;
      }
      .green {
        color: @green;
      }
    }
    .more {
      position: relative;
      padding: 15px 10px;
      background-color: #f6f2ed;
      border-top: 2px dotted #ab9880;
    }
    .stars {
      position: absolute;
      bottom: 20px;
      span {
        display: inline-block;
        float: left;
      }
    }
    .price {
      font-size: 15px;
      display: inline-block;
      float: left;
    }
    .icon.small-leaf {
      position: absolute;
      top: -20px;
    }
    button {
      margin-top: 40px;
    }
  }
}

/* manager */
.manager {
  z-index: 1;
  position: relative;
  background-image: url(../images/global/manager.jpg);
  header {
    margin: 95px 0 110px;
    background-color: rgba(231, 231, 231, 0.9);
    padding: 25px 0 20px;
    h1 {
      margin-bottom: 25px;
      font-size: 33px;
    }
    h5 {
      font-size: 13px;
      margin: 0;
    }
  }
  button {
    padding: 8px 30px;
  }
}

/* services */
.services {
  position: relative;
  background-color: #f7f5f2;
  header {
    padding-bottom: 30px;
  }
  .wrapper {
    background-color: @white;
    padding-bottom: 40px;
    h2 {
      font-size: 30px;
      margin-top: 25px;
    }
    h5 {
      margin: 20px 0;
    }
  }
  button {
    padding: 8px 30px 8px 34px;
    z-index: 2;
  }
  .flowers {
    position: relative;
  }
  .decoration {
    position: relative;
  }
}

/* design */
.design {
  position: relative;
  header {
    h5 {
      margin-top: 20px;
      line-height: 1.4;
    }
  }
}

/* exlusive-design */
.exlusive-design {
  z-index: 1;
  position: relative;
  background-image: url(../images/global/exclusive.jpg);
  header {
    margin: 95px 0 110px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 25px 0 20px;
    h1 {
      margin-bottom: 35px;
      font-size: 33px;
    }
    h5 {
      font-size: 13px;
      line-height: 1.4;
    }
  }
  button {
    padding: 4px 30px;
  }
}

/* rewives */
.reviews {
  .swiper-slide {
    overflow: hidden;
    .title {
      padding: 7px 0;
    }
    .name {
      color: #3d3229;
      font-size: 15px;
    }
    .organization {
      font-size: 13px;
      color: @green;
    }
    p {
      text-align: center;
      background-color: #f6f2ed;
      padding: 11px 15px;
      font-size: 13px;
      color: @black;
    }

  }
}

/* clients */
.clients {
  position: relative;
  background-image: url(../images/global/InGreen_Background_Pattern.png);
  background-repeat: repeat;
  .swiper-wrapper {
    border-top: 1px solid #c4b7a5;
    border-left: 1px solid #c4b7a5;

  }
  .swiper-slide {
    line-height: 160px;
    position: relative;
    height: 160px;
    text-align: center;
    background-color: @white;
    border-right: 1px solid #c4b7a5;
    border-bottom: 1px solid #c4b7a5;
  }
  img {
    vertical-align: middle;
  }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    &::after {
      .sprite(@left-hover);
    }
    &:hover::after {
      .sprite(@left);
    }
  }
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    &::after {
      .sprite(@right-hover);
    }
    &:hover::after {
      .sprite(@right);
    }
  }
}

/* footer */
footer {
  .brown-line {
    padding: 50px 0 40px;
    position: relative;
    background-color: #a99076;
    color: @white;
    font-size: 13px;
    .sprite.icon.small-logo {
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;
      top: -35px;
      border-color: #a99076;
    }

    span {
      display: inline-block;
      float: left;
      margin-right: 20px;
      color: inherit;
      font-size: inherit;
    }
    .icon {
      margin-right: 10px;
      background-repeat: no-repeat;
    }
    .wrapper {
      border-left: 1px solid #ebebbf;
      border-right: 1px solid #ebebbf;
    }
    a {
      font-size: inherit;
    }
    .social {
      display: inline-block;
      .text {
        margin-top: 7px;
      }
      a {
        display: inline-block;
      }
    }
  }

  .down {
    background-color: #edeae3;
    padding: 20px 0 50px;
    h4 {
      font-family: @font-family-base;
      font-size: 17px;
    }
    .icon.brown {
      border: 3px solid #d1c0a4;
    }
    .about {
      background-color: inherit;
      text-align: left;
      li {
        font-size: 13px;
        vertical-align: middle;
        width: 100%;
        display: block;
        margin-bottom: 15px;
        span {
          float: left;
          margin-right: 13px;
        }
      }
    }
    .vidget {
      .square(220px);
      border: 1px solid #d1c0a4;
    }
    .tags {
      text-align: left;
      span {
        display: inline-block;
        background-color: @white;
        border: 1px solid #d1c0a4;
        color: @black;
        font-size: 13px;
        padding: 4px 6px;
        margin: 0 12px 6px 0;
      }
    }
    .shops {
      text-align: left;

      li {
        text-align: left;
        display: inline-block;
        border-bottom: 1px solid #d1c0a4;
        font-size: 13px;
        padding: 10px 0;
        margin: 0;

        &.active {
          font-size: 14px;
        }
      }
    }
  }
}
